@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Cape Road<br />
    St Georges, Port Elizabeth<br />
    <abbr title="Phone">P:</abbr>
    0745032881
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ourmall.co.za">Support@ourmall.co.za</a><br />
  
</address>